body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    background-color: rgb(13, 219, 116);
    overflow: hidden;
    padding: 15px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

h1{
    text-align: center;
}

form label{
    font-size: 19px;
}

input{
    width: 80%;
    margin-top: 10px;
    outline: none;
    border: 1px solid lightblue;
    padding: 8px;
    background: lightsteelblue;
    font-weight: 600;
    font-size: 18px;
}

button{
    padding: 5px 8px;
    background-color: brown;
    outline: none;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

p{
    text-align: center;
    font-size: 17px;
}

.lostWonTxt{
    font-size: 19px;
}

.ResultText{
    font-size: 20px;
    font-weight: bold;
}

.remainingText{
    color: brown;
    font-weight: bold;
}

@media only screen and (max-width: 478px){
    .container{
        width: 90%;
    }
}
